<!DOCTYPE html><!--[if IE 7 ]><html lang="en" class="ie7 "><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 "><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9 "><![endif]--><!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class=""><!--<![endif]--><head><meta http-equiv="X-UA-Compatible" content="IE=9"><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<div class="wrapper content reset-password-wrapper">
    <div class="dynamic-row">

        <h1 class="title-wrapper">
            Reset your password
        </h1>

        <div class="box">
                                            
                <form id="reset-password" class="reset-password" name="reset-password" method="post" action="resetPassword" accept-charset="ISO-8859-1">
                        <fieldset>
                                    <div class="form-field">
										<label for="email">What's your email address?</label>
										<input id="email" name="email" type="text" tabindex="100" />
									</div>
                        </fieldset>
                        <fieldset>
                            <button type="submit" class="bttn blue submit-bttn" tabindex="101">Reset Your Password</button>

                        </fieldset>
                </form>
                 <div class="confirmation" id="confirmation">
                        <div class="alert-closable">
                            <input type="checkbox" class="alert-close" />
                            <div class="alert-success">
                                <p>Email sent!</p>
                            </div>
                        </div>
                        <p>
                            We just sent an email to <span id="emailText"></span>.
                            If you <strong>go check your email now</strong>, you should find a
                            message from us with instructions on how to choose a new
                            password for your account.
                        </p>
                        <p>
                            If you don't receive an email from us (support@thumbtack.com)
                            within a few minutes, please check your spam folder.
                        </p>
                    </div>
                    <div class="error" id="error">
                        <p>
                            We found problem while sending an email to  <span id="emailText"></span>.
                            Please retry again.
                        </p>
                        <p>
                            Please email us on  (support@ans.com) for any further assitance.
                        </p>
                    </div>
        </div>

    </div>
</div>


<script>
      $(document).ready(function() {
            $('.error').hide();
            $('.confirmation').hide();
            $('.auto-focus:first').focus();

            var email = location.search.match(/\?email\=(.*)$/);
            var userEmail = email && email[1];
            if(userEmail) {
              $('#emailText').html('<strong> + ' + userEmail + '</strong>');
              showConfirmation()
            }
            var errorMatch = location.search.match(/error\=true/);
            if(errorMatch) {
              1showError();
            }
            
            function showError(err) {
                $('.error').show();
                $('.confirmation').hide();
                $('.reset-password').hide();
            }
           
            function showConfirmation(err) {
                $('.error').hide();
                $('.confirmation').show();
                $('.reset-password').hide();
            }
    });


     </script>