<!DOCTYPE html>
<html>
<script type="text/javascript" src="lib/angular-1.2.15.min.js"></script>
<script type="text/javascript"  src="js/listController.js"></script>
<script type="text/javascript"  src="js/testing.js"></script>
	<head>
		<title>MarketPlace</title>
	</head>
	  <div class="userinfo"  id="_userinfo_div">Logged in as: <span id="username"></span> | <a href="marketplace/system/logout">Logout</a>
      <span id="change_passwd"></span> | <a href=""></a> href="marketplace/system/changepassword">Logout</a>
      </div>
	<body ng-app="marketPlace">
		<div data-ng-app data-ng-controller="friendController" class="container">  
    <strong class="error">{{ error }}</strong>  
    <div id="mydiv" data-ng-show="loading">  
        <img src="Images/ajax-loader.gif" class="ajax-loader" />  
    </div>  
    <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>  
    <form name="addFriend" data-ng-show="addMode" style="width:600px;margin:0px auto;">  
        <label>FirstName:</label><input type="text" data-ng-model="newfriend.FirstName" required />  
        <label>LastName:</label><input type="text" data-ng-model="newfriend.LastName" required />  
        <label>Address:</label><input type="text" data-ng-model="newfriend.Address" required />  
        <label>City:</label><input type="text" data-ng-model="newfriend.City" required />  
        <label>PostalCode:</label><input type="text" data-ng-model="newfriend.PostalCode" required />  
        <label>Country:</label><input type="text" data-ng-model="newfriend.Country" required />  
        <label>Notes:</label><input type="text" data-ng-model="newfriend.Notes" required />  
        <br />         
        <br />  
        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addFriend.$valid" class="btn btn-primary" />  
        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />  
        <br /><br />  
    </form>  
    <table class="table table-bordered table-hover" style="width:800px">  
        <tr>  
            <th>#</th>  
            <td>FirstName</td>  
            <th>LastName</th>  
            <th>Address</th>  
            <th>City</th>  
            <th>PostalCode</th>  
            <th>Country</th>  
            <th>Notes</th>  
        </tr>  
  
        <tr data-ng-repeat="friend in friends">  
            <td><strong data-ng-hide="friend.editMode">{{ friend.FriendId }}</strong></td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ friend.FirstName }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.FirstName" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ friend.LastName }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.LastName" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ friend.Address }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.Address" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ friend.City }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.City" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ friend.PostalCode }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.PostalCode" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ friend.Country }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.Country" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ friend.Notes }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.Notes" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode"><a data-ng-click="toggleEdit(friend)" href="javascript:;">Edit</a> | <a data-ng-click="deletefriend(friend)" href="javascript:;">Delete</a></p>  
                <p data-ng-show="friend.editMode"><a data-ng-click="save(friend)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(friend)" href="javascript:;">Cancel</a></p>  
            </td>  
        </tr>  
    </table>  
    <hr />  
  
</div>  
	</body>
</html>