
<div class="panel panel-default" ng-controller="userController">
      <!-- Default panel contents -->
      <div class="panel-heading"><a ui-sref="uploadquestion" href="#uploadquestion">Upload Problem</a></div></div>
      <div class="panel-body">
        <p></p>
      </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
          </tr>
        </thead>

        <tbody ng-repeat="user in user.userList">
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.cellNo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>   

